* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
button {
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#header {
  padding-top: 20px;
  background: rgba(245, 246, 247, 1);
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: rgba(15, 35, 54, 1);
  font-size: 13px;
  font-weight: 700;
}
nav button {
  width: 120px;
  height: 35px;
  background-color: rgba(15, 35, 54, 1);
}
#main {
  background: rgba(245, 246, 247, 1);
  width: 100%;
  height: 508px;
}
.main {
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}
.main-text {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-text h1 {
  color: black;
  width: 430px;
  font-size: 55px;
  font-weight: 700;
}
.main-text .h-1 {
  color: rgba(0, 204, 204, 1);
}
.main-text button {
  color: rgba(15, 35, 54, 1);
  background-color: rgba(0, 204, 204, 1);
  width: 180px;
  height: 45px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  box-shadow: 0 0 10px 2px rgba(0, 201, 201, 0.55);
}
.main-text span {
  color: rgba(243, 175, 71, 1);
}
.main-image {
  position: relative;
  width: 500px;
}
.main .main-image .img-1 {
  width: 650px;
  position: absolute;
  top: -174px;
  right: -670px;
}
.main .main-image .img-2 {
  width: 450px;
  position: absolute;
  right: -550px;
  top: -150px;
}
.hero {
  display: flex;
  padding: 140px 0;
  align-items: center;
  justify-content: space-between;
}
.hero-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
}
.p1 {
  width: 70px;
}
.hero p {
  color: rgba(87, 109, 129, 1);
  font-weight: 400;
  font-size: 14px;
}
.hero h3 {
  font-size: 22px;
  font-weight: 600;
}
.section {
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  background: rgba(244, 245, 246, 1);
  height: 500px;
  border-radius: 40px;
  z-index: -2;
}
.section-img {
  position: relative;
}
.image-1 {
  position: absolute;
  top: -16px;
  left: 204px;
  width: 250px;
}
.image-2 {
  position: absolute;
  left: 185px;
  width: 286px;
  top: -30px;
}
.image-3 {
  position: absolute;
  bottom: 50px;
  left: 40px;
  width: 170px;
  z-index: -1;
}
.image-4 {
  position: absolute;
  top: 460px;
  left: 400px;
  width: 200px;
}
.section-text {
  position: absolute;
  right: 160px;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.section-text span {
  color: rgba(87, 109, 129, 1);
  font-size: 18px;
  font-weight: 400;
}
.section-text h1 {
  color: rgba(15, 35, 54, 1);
  font-size: 40px;
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.section-text p {
  color: rgba(87, 109, 129, 1);
  font-size: 15px;
  font-weight: 400;
}
.section-text img {
  width: 90px;
  margin-top: 30px;
}
#content {
  margin-top: 130px;
  background: rgba(244, 245, 246, 1);
  height: 440px;
}
.content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1610px;
}
.content-text-1 {
  font-size: 18px;
  font-weight: 600;
  color: rgba(15, 35, 54, 1);
  width: 370px;
  height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 40px 0 20px;
  gap: 20px;
  align-items: flex-start;
  margin: -20px 0 30px 50px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 30px 0 rgba(15, 35, 54, 0.231);
}
.content-text-1 p {
  color: rgba(87, 109, 129, 1);
  width: 322px;
  font-weight: 400;
}
.text-2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.content-text-2 {
  font-size: 18px;
  font-weight: 600;
  color: rgba(15, 35, 54, 1);
  width: 370px;
  height: 120px;
  justify-content: center;
  display: flex;
  padding: 20px 40px 0 20px;
  gap: 20px;
  align-items: flex-start;
  margin: 0 0 30px 90px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 30px 0 rgba(15, 35, 54, 0.231);
}
.content-text-2 p {
  color: rgba(87, 109, 129, 1);
  width: 322px;
  font-weight: 400;
}
.content-text-3 {
  font-size: 18px;
  font-weight: 600;
  color: rgba(15, 35, 54, 1);
  width: 370px;
  height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 40px 0 20px;
  gap: 20px;
  align-items: flex-start;
  margin: 0 0 30px 50px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 30px 0 rgba(15, 35, 54, 0.231);
}
.content-text-3 p {
  color: rgba(87, 109, 129, 1);
  width: 322px;
  font-weight: 400;
}
.img-0 img {
  width: 470px;
  padding-bottom: 110px;
}
.send {
  display: flex;
  position: relative;
  background: rgba(244, 245, 246, 1);
  height: 520px;
  border-radius: 40px;
  z-index: -2;
  margin-top: 150px;
  padding: 0 50px;
}
.send-text {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 110px 40px;
  gap: 20px;
}
.send-text p {
  color: rgba(87, 109, 129, 1);
}
.send-text h1 {
  font-size: 40px;
  color: black;
  font-weight: 800;
}
.send-image {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#img-2 {
  padding: 100px 0;
}
.image-5 {
  position: absolute;
  top: -155px;
  left: 102px;
  width: 320px;
  z-index: 3;
}
.image-6 {
  position: absolute;
  top: -140px;
  left: 120px;
  width: 280px;
  z-index: 2;
}
.image-7 {
  position: absolute;
  top: 340px;
  left: -30px;
  width: 200px;
}
.image-8 {
  position: absolute;
  top: 80px;
  left: 380px;
  width: 200px;
  z-index: 1;
}
.send-text .Frame {
  width: 90px;
  margin-top: 30px;
}
.registr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.registr-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 0;
}
.registr-text h1 {
  font-size: 30px;
  width: 350px;
  text-align: center;
  font-weight: 900;
  color: rgba(15, 35, 54, 1);
}
.registr-text img {
  width: 100px;
}
.registr img {
  max-width: 300px;
}
.registr-input input {
  width: 250px;
  text-align: center;
  height: 35px;
  border: none;
  background-color: rgba(240, 240, 242, 1);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.35);
  font-size: 13px;
  font-weight: 800;
}
.registr button {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 700;
  background-color: rgba(0, 204, 204, 1);
  border-radius: 10px;
  width: 120px;
  height: 35px;
}
#footer {
  height: 200px;
  background: rgba(15, 35, 54, 1);
  position: relative;
  z-index: -1;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
}
.logo-2 {
  padding-top: 50px;
}
.div-0 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding-top: 70px;
  padding-left: 400px;
}
.div-0 h5 {
  color: rgba(0, 204, 204, 1);
  font-size: 10px;
}
.div-0 p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 9px;
}
.div-1 {
  line-height: 20px;
}
.image-10 {
  position: absolute;
  height: 200px;
  right: 0;
  z-index: -1;
}
.image-20 {
  z-index: 3;
  width: 120px;
  height: 220px;
  position: absolute;
  left: 0;
  top: -20px;
}
